[Desktop Entry]
Name=Open MIB Catalog
Comment=Browse MIBs and work with SNMP devices
Exec=open-mib-catalog %F
Icon=com.librestatic.openmibcatalog
Terminal=false
Type=Application
Categories=Network;Development;
MimeType=application/x-mib;text/x-smi;
StartupWMClass=Open MIB Catalog
X-Flatpak=com.librestatic.openmibcatalog
